extends layout

block content
	#time
	.container-fluid
		.binary-only
			.row
				.col-md-2
				.col-md-1
					h3 32
				.col-md-1
					.circle.unnecessary
				.col-md-1
				.col-md-1
					.circle#min32
				.col-md-1
				.col-md-1
					.circle#sec32
				.col-md-1
				.col-md-3
			.row
				.col-md-2
				.col-md-1
					h3 16
				.col-md-1
					.circle#hour16
				.col-md-1
				.col-md-1
					.circle#min16
				.col-md-1
				.col-md-1
					.circle#sec16
				.col-md-1
				.col-md-3
			.row
				.col-md-2
				.col-md-1
					h3 8
				.col-md-1
					.circle#hour8
				.col-md-1
				.col-md-1
					.circle#min8
				.col-md-1
				.col-md-1
					.circle#sec8
				.col-md-1
				.col-md-3
			.row
				.col-md-2
				.col-md-1
					h3 4
				.col-md-1
					.circle#hour4
				.col-md-1
				.col-md-1
					.circle#min4
				.col-md-1
				.col-md-1
					.circle#sec4
				.col-md-1
				.col-md-3
			.row
				.col-md-2
				.col-md-1
					h3 2
				.col-md-1
					.circle#hour2
				.col-md-1
				.col-md-1
					.circle#min2
				.col-md-1
				.col-md-1
					.circle#sec2
				.col-md-1
				.col-md-3
			.row
				.col-md-2
				.col-md-1
					h3 1
				.col-md-1
					.circle#hour1
				.col-md-1
				.col-md-1
					.circle#min1
				.col-md-1
				.col-md-1
					.circle#sec1
				.col-md-1
				.col-md-3

block script
	script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(type='text/javascript' src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
	script(src='/javascripts/main.js')