body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 100%
}

a {
  color: #00B7FF;
}

.container-fluid {
	padding: 0;
}

h3 {
	color: white;
}

.circle {
	background-color: #3deefd;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin: 10%;
}

.on {
	background-color: #ff4d2e;
}

.unnecessary {
	display: none;
}

.binary-clock {
	padding-top: 3%; 
	padding-left: 6%;
	padding-bottom: 2%;
	background-color: #303131;
	border: 25px #ff4d2e solid;
}

#time {
	color: white;
	margin-top: 50px;
}

.row h6, h2, p {
	text-align: center;
}
.link {
	color: tomato;
}
.heading {
	padding: 3%;
}

.centered {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}


